[core]
        pager = less
        excludesfile = ~/.gitignore_global
[diff]
        tool = vimdiff
        guitool = gvimdiff
[difftool]
        prompt = false
[include]
        path = ~/.gitconfig_local
[color]
        ui = auto
[pull]
        ff = only
[init]
        defaultBranch = master
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
